/* CSS Reset */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }

  .container {
    width: 1200px; /* Adjust the width to your preference */
    margin: 0 auto; /* Center the container horizontally */
  }

  .logo img {
    width: 50px; /* Adjust the width to your preference */
    height: auto;
    margin: 0 auto; /* Center the container horizontally */
  }

  section#about img {
    float: right;
    width: 300px; /* Adjust the width of the image */
    height: auto; /* Automatically adjust the height while maintaining aspect ratio */
    margin: 0 0 10px 10px; /* Adjust the margin for spacing */
  }
  
  header, nav, main, footer {
    padding: 20px;
  }
  
  header {
    background-color: #f2f2f2;
  }
  
  nav ul {
    float: right;
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }

  nav ul li a img {
    width: 30px; /* Adjust the width of the image */
    height: auto; /* Automatically adjust the height while maintaining aspect ratio */
    margin: 0 0 10px 10px; /* Adjust the margin for spacing */
  }

  nav ul li a:hover {
    text-decoration: none;
    color: #348cff;
  }
  
  main section {
    margin-bottom: 40px;
  }
  
  footer {
    background-color: #f2f2f2;
    text-align: center;
  }

  section#portfolio .game {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  section#portfolio img {
    width: 120px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  section#portfolio img:hover {
    opacity: 0.8;
  }
  
  section#portfolio .game_descript {
    margin-left: 20px;
  }
  
  @media (max-width: 768px) {
    section#portfolio .game {
      flex-direction: column;
      align-items: flex-start;
    }
  
    section#portfolio .game_descript {
      margin: 10px 0 0;
    }
  }

  section#portfolio .game_page {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  section#portfolio .about-section {
    flex-basis: 66.67%;
    margin-right: 20px;
  }
  
  section#portfolio .links-section {
    flex-basis: 33.33%;
  }

  section .image-with-text {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  section .image-with-text img {
    width: 120px; /* Adjust the width of the image */
    height: auto; /* Automatically adjust the height while maintaining aspect ratio */
    margin-right: 20px; /* Adjust the margin for spacing */
  }
  
  section .image-with-text .text {
    flex-grow: 1;
  }