/* CSS Reset */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0; 
  } 
  
  body {  
    font-family: Arial, sans-serif;
  }

  .container {
    width: auto; /* Adjust the width to your preference */
    margin: 0 auto; /* Center the container horizontally */
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .logo {
    width: 50px;
    height: auto;
    padding: 10px;
  }
  
  h1 {
    display: flex;
    align-items: center;
  }
  
  h1 .header-text {
    margin-right: 10px;
  }
  
  .header-text {
    margin-right: 10px;
  }

  section#about img {
    float: right;
    width: 300px; /* Adjust the width of the image */
    height: auto; /* Automatically adjust the height while maintaining aspect ratio */
    margin: 0 0 10px 10px; /* Adjust the margin for spacing */
  }

  header, nav, main, footer {
    padding: 20px;
  }

  nav {
    margin-left: auto; /* Pushes the navigation to the right */
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
  }
  
  nav ul li a img {
    width: 30px;
    height: auto;
    margin-right: 5px;
    padding: 5px;
  }

  nav ul li a:hover {
    text-decoration: none;
    color: #348cff;
  }

  section#portfolio nav ul li a img {
    width: 30px;
    height: auto;
    margin-right: 5px;
    padding: 5px;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  a:hover {
    text-decoration: none;
    color: #348cff;
  }

  .home-text a {
    display: inline;
    text-decoration: none;
    color: #333;
  }
  
  .home-text:hover {
    text-decoration: none;
    color: #348cff;
  }
  
  main section {
    margin-bottom: 40px;
  }
  
  footer {
    background-color: #f2f2f2;
    text-align: center;
  }

  section#portfolio .game {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  section#portfolio img {
    width: 120px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  section#portfolio img:hover {
    opacity: 0.8;
  }
  
  section#portfolio .game_descript {
    margin-left: 20px;
  }
  
  @media (max-width: 768px) {
    section#portfolio .game {
      flex-direction: column;
      align-items: flex-start;
    }
  
    section#portfolio .game_descript {
      margin: 10px 0 0;
    }
  }

  section#portfolio .game_page {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  section#portfolio .about-section {
    flex-basis: 66.67%;
    margin-right: 20px;
  }
  
  section#portfolio .links-section {
    flex-basis: 33.33%;
  }